.picstyle
{
width:340px;
height:340px;
cursor:pointer;
box-shadow:7px 7px 18px cyan;
border-radius:130px;
transition:0.50s ease-in-out;
margin:90px;
}

.picstyle:hover
{
transform:scale(1.50);
border-radius:25px;
}


{#navbar ol li:hover
{
// transform:scale(1.70) rotate(360deg);
border-radius:20px;
background:red;

}